<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-lazy-init="true" default-autowire="byName">
  <bean id="categoryManager" class="anni.anews.manager.CategoryManager"/>
  <bean id="newsManager" class="anni.anews.manager.NewsManager"/>
  <bean id="configManager" class="anni.anews.manager.ConfigManager"/>
  <bean id="commentManager" class="anni.anews.manager.CommentManager"/>
  <bean id="tagManager" class="anni.anews.manager.TagManager"/>
</beans>
